<div class="list-group" id="crimelist">
    {{#each crimes}}
        <button type="button" class="list-group-item list-group-item-action" data-crimeid="{{this._id}}">{{this.name}} - difficulty: {{this.difficulty}} - required level: {{this.level}}</button>
    {{/each}}
</div>

<span id="crimeResponseBox" style="color:white;"></span>


<script>
document.getElementById('crimelist').addEventListener('click', function(e){
    e.stopPropagation();
    let crimeid = e.target.dataset.crimeid;
    console.log(e)

    var xhr = new XMLHttpRequest();

//Når xhr blir sendt, så begynner denne her å lytte. Hvis readystate er lik 4. Når den er ferdig konverteres 
    xhr.addEventListener("readystatechange", function () { 
    if (this.readyState === 4) {
        let res  = JSON.parse(this.responseText);
        let crimeResponseBox = document.getElementById('crimeResponseBox');
        crimeResponseBox.innerHTML = res.msg;
        if(res.success){
            crimeResponseBox.style.backgroundColor = 'green';

            // update user info in navbar
            userObject.money += res.reward;
            updateUserNavbar();
        }else {
            crimeResponseBox.style.backgroundColor = 'red';
        }

    }
    });

    xhr.open("POST", "/api/crime/"+crimeid+"/perform"); //Definerer om det skal være get, post , delete osv og hvor den skal sendes til for eks. /api/crime
    xhr.send(); 
});
</script>   