<h1>Login</h1>
<form action="/auth/local-login" method="post">
    <div class="form-group">
      <label for="login_form_username">Username</label>
      <input type="text" class="form-control" name="username" id="login_form_username" placeholder="Username" autofocus>
    </div>
    <div class="form-group">
      <label for="login_form_password">Password</label>
      <input type="password" class="form-control" name="password" id="login_form_password" placeholder="Password">
    </div>
    <button type="submit" class="btn btn-success">Login</button>
</form>