{{#logHelper user.level ">" 10}}
    <h1 align="center">You can perform organized crime.</h1>
{{else}}
    <h1 align="center">You need to be minimum level 10 to perform organized crime.</h1>
{{/logHelper}}