

.profile li {
    padding: 10px;
    margin: 10px;
}

.weapandarm th, td {
    padding: 30px;
    margin: 10px;
    text-align: left;
}
.weapandarm table {
    border-collapse: collapse;
    width: 100%;
}

.weapandarm h2 {
    padding: 20px;
    margin: 20px;
    background-color: #6c757d;
}


.weapandarm tr:nth-child(even) {
    background-color: #f2f2f2;
}