.profile li {
    padding: 10px;
    margin: 10px;
}

.weapandarm th, td {
    padding: 30px;
    margin: 10px;
    text-align: left;
}
.weapandarm table {
    border-collapse: collapse;
    width: 100%;
}

.weapandarm h2 {
    padding: 20px;
    margin: 20px;
    background-color: #6c757d;
}

td img {
    max-width: 100px;
    max-height: 100px;
}

.weapandarm tr:nth-child(even) {
    background-color: #f2f2f2;
}

#nav-user p{
    padding-right: .5rem;
    padding-left: .5rem;
    display: inline-block;
    font-size: 1rem;
}

/* Crimelist */
#crimelist button {
    color: #f3f3f3;
    background-color: #6c757d;
}
#crimelist .disabled {
    color: #bdbdbd;
}

/* Sidebar user info */
.userSidebar img {
    max-width: 200px;
    max-height: 200px;
}