<html>
<head>
<title>Mafiaen's Hevn</title>
<link rel="stylesheet" type="text/css" href="stil.css">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>

<body>
<table width="100%"><tr><td align="center"><img src="bilder/logo.jpg"/></td></tr><tr><td class="Innhold" width="100%"><marquee width='1100' style="cursor: default" onmouseover="this.stop()" onmouseout="this.start()"><b>Admin:</b> Min msn er: mafiaenshevn@live.no <b>Sensation:</b>Og min er: sensation@live.no</marquee></td></tr></table>
<table width="13%" align="left">
<tr>

  <td height="16" class="Tittel">Meny</td>
</tr>
<tr><td class="Innhold"><a href="index.php?side=hovedkvarter">Hovedkvarter</a></td></tr>
<tr><td class="Innhold"><a href="index.php?side=stats">Statistikk</a></td></tr>
<tr><td class="Innhold"><a href="index.php?side=medlemer">Medlemmer</a></td></tr>
<tr><td class="Innhold"><a href="index.php?side=online">Spillere Online</a></td></tr>
<tr><td class="Innhold"><a href="index.php?side=redigerprofil">Rediger Profil</a></td></tr>
<tr><td class="Innhold"><a href="index.php?side=Byoversikt">Byoversikt</a></td></tr>
<tr><td class="Innhold"><a href="index.php?side=oss">OSS</a></td></tr>

<tr><td class="Tittel">Spill</td></tr>
<tr><td class="Innhold"><a href="index.php?side=bank">Banken</a></tr>
<tr><td class="Innhold"><a href="index.php?side=flyplass">Flyplass</a></tr>
<tr><td class="Innhold"><a href="index.php?side=gjeng">Gjeng</a></tr>
<tr><td class="Innhold"><a href="index.php?side=8613985ec49eb8f757ae6439e879bb2a">Fight Club</a></tr>
<tr><td class="Innhold"><a href="index.php?side=32b9e74c8f60958158eba8d1fa372971">Kriminalitet</a></tr>
<tr><td class="Tittel">Spill</td></tr>
<tr><td class="Innhold"><a href="index.php?casino=kronmynt">Kast Mynt</a></tr>
</table>

<table width="74%" align="left"><tr><td class="Tittel">Game</td></tr><tr>
  <td class="Innhold" background='bilder/profpic' ><table width='45%'><tr><td class='Tittel' colspan='2'>Rank</td></tr>
    <tr><td class='Innhold'>Rank:</td><td class='Innhold'>Leg. Gudfar</td></tr>
    <tr><td class='Innhold'>Penge Rank:</td><td class='Innhold'>Milliard&aelig;r</td></tr>
    <tr><td class='Innhold'>Rankbar:</td><td class='Innhold'>75%</td></tr>

    </table>    </td>
    </tr>

<tr align="center"><td><script type="text/javascript">
var uri = 'http://imp.tradedoubler.com/imp?type(js)pool(237910)a(1458339)' + new String (Math.random()).substring (2, 11);
document.write('<sc'+'ript type="text/javascript" src="'+uri+'" charset="ISO-8859-1"></sc'+'ript>');
</script></td></tr>
<tr><td><center><img src="http://www.statssheet.com/images/hit_counter_02.gif" alt="website counter" border="0" align="top" vspace="2">
<script type="text/javascript">
<!--
var FCS_Account="6690";
var FCS_Server="http://www.statssheet.com";
var FCS_Page="DetectName";
var FCS_Url="DetectUrl";
var FCS_Offset="7";
var FCS_Interval="24";
var FCS_Cntimg="100";
// -->
</script><script type="text/javascript" src="http://www.statssheet.com/js.php?usr=6690"></script></center></td></tr>
</table>
<table width="13%" align="right">
<tr>
  <td height="16" class="Tittel">Info</td>

</tr>
<tr><td class="Innhold"><p align="center"><img src='http://i18.tinypic.com/6pti7iq.jpg' width='120' height='100'/> </p>
Nick: <a href='index.php?profil=DglZero'>DglZero</a><br>Rank: Leg. Gudfar<br>Sted: Trondheim<br> Penger: 1,580,619,470</td></tr>
       <tr>
  <td class="Tittel">Kommunikasjon</td>
</tr>
<tr><td class="Innhold"><a href="index.php?side=nymelding">Send Melding</a></td></tr>

<tr><td class="Innhold"><a href="index.php?side=innboks">Innboks</a></td></tr>
<tr><td class="Innhold"><a href="index.php?forum=Generelt">Generelt Forum</a></td></tr>
<tr><td class="Innhold"><a href="index.php?forum=SS">SS Forum</a></td></tr>
<tr><td class="Innhold"><a href="index.php?forum=Off">Offtopic Forum</a></td></tr>
<tr>
  <td class="Tittel"><a href="index.php?side=loggut">Logg ut</a></td>
</tr>
</table>
</body>
</html>